<div id="games">
    <div class="card">
        <div class="cardImage"><img src="/images/tetris.png" style="height: 80%;" alt=""></div>
        <div class="about">
            <div class="title">Tetris</div>
            <div class="description">
                Tetris allows players to rotate falling blocks strategically to clear levels. The goal of the game is to
                prevent the blocks from stacking up to the top of the screen for as long as possible.
            </div>
        </div class="about">
        <div id="btns">
            <a href="https://suad-portfolio.herokuapp.com/tetris" class="btn">Play</a>
            <a href="https://github.com/dosu199/tetris" class="github">
                <i class="fab fa-github git"></i> Github
            </a>
        </div>
    </div>

    <div class="card">
        <div class="cardImage"><img src="/images/tetrisAi.png" style="height: 80%;" alt=""></div>
        <div class="about">
            <div class="title">Tetris AI</div>
            <div class="description">
                Tetris AI calculate the best move for a given Tetris piece by trying out all the possible moves (rotation and position). It computes a score for each possible move (together with the lookahead piece), and selects the one with the best score as its next move.
            </div>
        </div class="about">
        <div id="btns">
            <a href="https://suad-portfolio.herokuapp.com/tetrisAI" class="btn">Play</a>
            <a href="https://github.com/dosu199/tetrisAi" class="github"><i class="fab fa-github git"></i> Github</a>
        </div>
    </div>

    <div class="card">
        <div class="cardImage"><img src="/images/plantsVZombies.png" style="height: 80%;" alt=""></div>
        <div class="about">
            <div class="title">Plants vs Zombies</div>
            <div class="description">
                Plants vs Zombies is famous game based on plants and zombies battle.
                Player needs to collect suns and based on sun value player can plant one plant that costs 50 suns,
                player can also upgrade alredy planted plants and upgrade costs 100 suns.

            </div>
        </div class="about">
        <div id="btns">
            <a href="https://suad-portfolio.herokuapp.com/plantsVsZombies" class="btn">Play</a>
            <a href="https://github.com/dosu199/plantsVsZombies" class="github">
                <i class="fab fa-github git"></i> Github
            </a>
        </div>
    </div>

      <div class="card">
        <div class="cardImage"><img src="/images/con4.png" alt=""> </div>
        <div class="about">
            <div class="title">Connect Four</div>
            Connect Four is a two-player game with perfect information for both sides, meaning that nothing is hidden from anyone. Connect Four also belongs to the classification of an adversarial, zero-sum game, since a player's advantage is an opponent's disadvantage.
        </div>
        <div id="btns">
            <a href="https://suad-portfolio.herokuapp.com/connectFour" class="btn">Play</a>
            <a href="https://github.com/dosu199/connectFour" class="github">
                <i class="fab fa-github git"></i> Github
            </a>
        </div>

    </div>

    <div class="card">
        <div class="cardImage"><img src="/images/2048.png" alt=""> </div>
        <div class="about">
            <div class="title">Twenty-forty-eight</div>
            2048 is a single-player sliding block puzzle game designed by Italian web developer
            Gabriele Cirulli. The game's objective is to slide numbered tiles on a grid to combine them to
            create a tile with the number 2048.
        </div>
        <div id="btns">
            <a href="https://suad-portfolio.herokuapp.com/twenty-forty-eight" class="btn">Play</a>
            <a href="https://github.com/dosu199/twenty-forty-eight" class="github">
                <i class="fab fa-github git"></i> Github
            </a>
        </div>

    </div>
    <div class="card">
        <div class="cardImage"><img src="/images/snake.png" style="width: 80%; height: 80%;" alt=""> </div>
        <div class="about">
            <div class="title">Snake</div>
            Snake is the common name for a video game concept where the player maneuvers a line
            which grows in length, with the line itself being a primary obstacle.
        </div>
        <div id="btns">
            <a href="https://suad-portfolio.herokuapp.com/snake" class="btn">Play</a>
            <a href="https://github.com/dosu199/snake" class="github">
                <i class="fab fa-github git"></i> Github
            </a>
        </div>
    </div>
    <div class="card">
        <div class="cardImage"><img src="/images/cars.png" style="height: 90%;" alt=""> </div>
        <div class="about">
            <div class="title">Cars</div>
            Cars is a single-player game where player maneuvers a car and avoids other cars and obstacles on a road.
            Player collects golden coins to increse their score.
        </div>
        <div id="btns">
            <a href="https://suad-portfolio.herokuapp.com/cars" class="btn">Play</a>
            <a href="https://github.com/dosu199/cars" class="github">
                <i class="fab fa-github git"></i> Github
            </a>
        </div>
    </div>
    <div class="card">
        <div class="cardImage"><img src="/images/colorTetris.png" style="width: 70%;" alt=""> </div>
        <div class="about">
            <div class="title">Color tetris</div>
            Color tetris is game similar to a popular game Candy crash saga, where you break rows and columns by
            matching at least three block of same color.
        </div>
        <div id="btns">
            <a href="https://suad-portfolio.herokuapp.com/colorTetris" class="btn">Play</a>
            <a href="https://github.com/dosu199/Color_Tetris" class="github">
                <i class="fab fa-github git"></i> Github
            </a>
        </div>
    </div>
    <div class="card">
        <div class="cardImage"><img src="/images/calculator.png" style="height: 90%" alt=""> </div>
        <div class="about">
            <div class="title">Calculator</div>
            A simple calculator application written in Javascript.
        </div>
        <div id="btns">
            <a href="https://suad-portfolio.herokuapp.com/calculator" class="btn">Play</a>
            <a href="https://github.com/dosu199/Calculator" class="github">
                <i class="fab fa-github git"></i> Github
            </a>
        </div>
    </div>
    <div class="card">
        <div class="cardImage horizontalImage"><img src="/images/case.png" style="width: 90%;" alt=""> </div>
        <div class="about">
            <div class="title">Case opening</div>
            Case opening simulator for globally popular first person shooter game Counter Strike GO.
        </div>
        <div id="btns">
            <a href="https://suad-portfolio.herokuapp.com/caseOpening" class="btn">Play</a>
            <a href="https://github.com/dosu199/caseOpening" class="github">
                <i class="fab fa-github git"></i> Github
            </a>
        </div>
    </div>
    <div class="card">
        <div class="cardImage"><img src="/images/rollDice.png" style="width: 80%; height: 80%;" alt=""> </div>
        <div class="about">
            <div class="title">Dice</div>
            As the name suggests, this app simulates dice roll.
        </div>
        <div id="btns">
            <a href="https://suad-portfolio.herokuapp.com/dice" class="btn">Play</a>
            <a href="https://github.com/dosu199/diceNew" class="github">
                <i class="fab fa-github git"></i> Github
            </a>
        </div>
    </div>
    <div class="card">
        <div class="cardImage"><img src="/images/matching.png" style="width: 70%;" alt=""> </div>
        <div class="about">
            <div class="title">Matching game</div>
            Goal of this game is to open fields with same numbers. If you fail in two attempts, you have to start again.
        </div>
        <div id="btns">
            <a href="https://suad-portfolio.herokuapp.com/matchingGame" class="btn">Play</a>
            <a href="https://github.com/dosu199/matchingGame" class="github">
                <i class="fab fa-github git"></i> Github
            </a>
        </div>
    </div>
</div>