
<div id="appStuff">
        <span>Suad Muhic app gallery</span>
        <div id="links">
        <div id="email">suad.511996@gmail.com</div>           
        <a href="https://github.com/dosu199" class="topGitIcon"> <i class="fab fa-github gitTop"></i> Github</a>
        </div>
</div>
