body,html{
  background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    width:  100%;
    height: 100%;
    margin: 0px;
   
    }
    #dice{
    display: flex;
    justify-content: center;
    align-items: center;
    border:  1px solid #909497;
    width: 35vw;
    height: 35vw;
    background-color: #D7DBDD;
    border-radius: 10px;
    
    }
    #number{
    user-select: none;
    font-weight: bold;
    font-size: 15vw;
    color: white;
    }